<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="mock-service" packages="mfm">

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
         <Logger name="it.mfm" level="debug" additivity="false">
           <AppenderRef ref="STDOUT"/>
         </Logger>
    
        <Root level="info">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>


